<div class="row">
    <div class="col-xl-4 custome_mem_pading">
        <div class="membership_sextions">
            <membreship-page></membreship-page>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="dash_board_content_sections">
            <div class="dash_board_price_title">
                <home-title-and-amount></home-title-and-amount>
            </div>
            <div class="to_do_home_block">
                <home-to-do-block-list></home-to-do-block-list>
            </div>
        </div>
    </div>
</div>
