<div class="plan-one">
    <div class="inner_plans">

        <div class="sub_header">
            <h2>iflex app Referral Promotion</h2>
        </div>
        <div class="headings_subs">
            <h4>Invite someone, when your referral makes a
                <br>payment you will get 1 week for free!
            </h4>
        </div>
        <div class="cupon_input_boxs">
            <input type="text" placeholder="____-______-____">
        </div>
        <div class="plan_buttons">
            <button class="custom_btns">Send Promotion</button>
        </div>
    </div>
</div>
