<div class="membreship-page">
    <!-- member-ship-header -->
    <div class="member_ship_header">
        <div class="member_ship_header_inner">
            <div class="membs_header_content">
                <h2>I've Arrived at the<br>Warehouse</h2>

            </div>
            <div class="member_ship_close_areas">
                <div class="inner_member_ship_closes">
                    <a href="">
                        <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                          <g clip-path="url(#clip0_2_711)">
                            <path d="M25.3333 8.54669L23.4533 6.66669L16 14.12L8.54666 6.66669L6.66666 8.54669L14.12 16L6.66666 23.4534L8.54666 25.3334L16 17.88L23.4533 25.3334L25.3333 23.4534L17.88 16L25.3333 8.54669Z" fill="white"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_2_711">
                              <rect width="32" height="32" fill="white"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- member-ship-header-end -->
    <!-- member-column-start -->
    <div class="member_column">
        <arrive-funtion></arrive-funtion>
    </div>
    <!-- member-column-end -->


</div>
