<div class="active-start-time-sections">
    <div class="active-start-time-sections-inner">
        <div class="warehouse-active-name-price">
            <div class="inner_warehouse-active-name-price">
                <div class="toggle-group">
                    <input type="checkbox" name="on-off-switch" id="on-off-switch2">
                    <label for="on-off-switch2">
          <span class="aural">Show:</span>
          <span class="txt-ml"></span>



      </label>

                    <div class="onoffswitch pull-right" aria-hidden="true">
                        <div class="onoffswitch-label">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </div>
                    </div>
                </div>
                <div class="switch_contents">
                    <p>
                        Capture reserved only
                    </p>
                    <p class="mb-0s">
                        Activate this option only when you want to capture only reserved blocks. (WILL SKIP ANY REGULAR BLOCKS)
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
