<div class="active-start-time-sections">
    <div class="active-start-time-sections-inner">
        <div class="warehouse-active-name-price">
            <div class="inner_warehouse-active-name-price">
                <div class="toggle-group">
                    <input type="checkbox" name="on-off-switch" checked id="on-off-switch9">
                    <label for="on-off-switch9">
                <span class="aural">Show:</span>
                <span class="txt-ml">Minutes before start</span>
                <div class="price_point">
                  <button class="count_btns">
                    30
                  </button>
                </div>
            </label>
                    <div class="onoffswitch pull-right" aria-hidden="true">
                        <div class="onoffswitch-label">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
