<div class="dashboard_page">
    <div class="inner_dash_board_page">
        <div class="container-fluid custom-pading">
            <div class="row height-100s">
                <div class="col-xl-3 col-12 custome_mem_pading_right">
                    <div class="side_ber ">
                        <side-bers></side-bers>
                    </div>

                </div>
                <div class="col-xl-9 col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
