<div class="block-capture-time">
    <div class="block-capture-time-inner">
        <div class="block_columns">
            <h4>Tamarac FL (VFL3) - Sub Same-Day</h4>
            <h4>Sun, Jan 7, 2024 at 7:00 AM- 11:00 AM</h4>
            <button class="time_btns">Sat, Jan 6, 2024 at 7:21 PM</button>
        </div>
        <div class="block_pay_columns">
            <div class="inner_block_pay_columns">
                <h4>$ 92</h4>
                <h3>Pay</h3>
            </div>
        </div>
    </div>
</div>
