<div class="plan-one">
    <div class="inner_plans">


        <div class="headings_subs">
            <p>This feature tries to activate your next block.<br>Are you sure you want to do it?</p>
        </div>

        <div class="plan_buttons">
            <button class="custom_btns">Yes, I've Arrived!</button>
        </div>
    </div>
</div>

<!-- <arrived-successful></arrived-successful> -->
<!-- <windows-paymentp-ok></windows-paymentp-ok> -->
<!-- <windows-block-delete></windows-block-delete> -->
<!-- <windows-referral-confirmation></windows-referral-confirmation> -->
<!-- <windows-coupont-applied></windows-coupont-applied> -->
<!-- <windows-block-amount-set></windows-block-amount-set> -->
