.custom-pading {
    padding-left: 0px;
}

.side_ber {
    background: #191919;
    backdrop-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
    padding: 28px 22px;
}

.side_ber {
    height: 100vh !important;
}

.inner_dash_board_page {
    height: 100%;
}

.dashboard_page {
    height: 100vh;
}