<div class="dashboard_page">
    <div class="inner_dash_board_page">
        <div class="container-fluid custom-pading">
            <div class="row">
                <div class="col-xl-3 ">
                    <div class="side_ber">
                        <sideber></sideber>
                    </div>

                </div>
                <div class="col-xl-9">
                    <div class="dash_board_content_sections">
                        <div class="dash_board_price_title">
                            <home-title-and-amount></home-title-and-amount>
                        </div>
                        <div class="to_do_home_block">
                            <home-to-do-block-list></home-to-do-block-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>