<div class="warehouse-active-name-price">
    <div class="inner_warehouse-active-name-price">
        <div class="toggle-group">
            <input type="checkbox" name="on-off-switch" checked id="on-off-switch">
            <label for="on-off-switch">
            <span class="aural">Show:</span>
            <span class="txt">Hialeah FL (VFL2) - Sub Same Day</span>
            <div class="price_point">
              <span class="point_label">
                $
              </span>
              99
            </div>
        </label>
            <div class="onoffswitch pull-right" aria-hidden="true">
                <div class="onoffswitch-label">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </div>
            </div>
        </div>
    </div>
</div>
