<div class="active-start-time-sections">
    <div class="active-start-time-sections-inner">
        <div class="warehouse-active-name-price">
            <div class="inner_warehouse-active-name-price">
                <div class="toggle-group">
                    <input type="checkbox" name="on-off-switch" checked id="on-off-switch">
                    <label for="on-off-switch">
            <span class="aural">Show:</span>
            <span class="txt-ml"></span>



        </label>

                    <div class="onoffswitch pull-right" aria-hidden="true">
                        <div class="onoffswitch-label">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </div>
                    </div>
                </div>
                <div class="switch_contents">
                    <p>
                        Capture all the reserved ones assigned to me RECOMMENDED
                    </p>
                    <p class="mb-0s">
                        This option will capture all reserveds assigned to you regardless of your filter settings + all regular blocks that meet your filter settings.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
