<!-- <p>windows-referral-confirmation works!</p> -->
<div class="arrived-successful">
    <div class="inner_arrived_successful">
        <div class="content_columns">
            <h4>Your message was sent<br>to your referral.</h4>
        </div>
        <div class="close_btnss">
            <a href="">
                <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <g clip-path="url(#clip0_344_1931)">
                  <path d="M25.3337 8.68624L23.4537 6.80624L16.0003 14.2596L8.54699 6.80624L6.66699 8.68624L14.1203 16.1396L6.66699 23.5929L8.54699 25.4729L16.0003 18.0196L23.4537 25.4729L25.3337 23.5929L17.8803 16.1396L25.3337 8.68624Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_344_1931">
                    <rect width="32" height="32" fill="white" transform="translate(0 0.139587)"/>
                  </clipPath>
                </defs>
              </svg>
        </span>
            </a>
        </div>
    </div>
    <div class="blocks_contents">
        <p>Once your referral subscribes and makes a payment, you will receive a free week!</p>
    </div>
</div>
