.content_columns>h4 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.close_btnss>a {
    background: #222;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.arrived-successful {
    background: #2D5AFF;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
    padding: 16px 14px;
    border-radius: 20px;
    height: 150px;
    position: absolute;
    top: 13px;
    left: 12px;
    right: 12px;
    z-index: 9999;
}

.inner_arrived_successful {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.blocks_contents>p {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.blocks_contents {
    margin-top: 15px;
}
