<div class="membreship-page">
    <!-- member-ship-header -->
    <div class="member_ship_header">
        <div class="member_ship_header_inner">
            <div class="membs_header_content">
                <h2>Start time and<br>finish time</h2>

            </div>

            <div class="member_ship_close_areas">
                <div class="inner_member_ship_closes">
                    <a href="">
                        <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                      <g clip-path="url(#clip0_2_711)">
                        <path d="M25.3333 8.54669L23.4533 6.66669L16 14.12L8.54666 6.66669L6.66666 8.54669L14.12 16L6.66666 23.4534L8.54666 25.3334L16 17.88L23.4533 25.3334L25.3333 23.4534L17.88 16L25.3333 8.54669Z" fill="white"/>
                      </g>
                      <defs>
                        <clipPath id="clip0_2_711">
                          <rect width="32" height="32" fill="white"/>
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="filters_contents">
            <p>Select the time you will be available to work every day, so you can leave the system ON with the security that you will not take blocks in hours that you are not available.
            </p>

        </div>
    </div>
    <!-- .date-time-switch -->
    <div class="date_time_switch">
        <!-- member-ship-header-end -->
        <div class="column_filter_view">
            <day-time></day-time>
        </div>
        <div class="column_filter_view">
            <day-time></day-time>
        </div>
        <div class="column_filter_view">
            <day-time></day-time>
        </div>

        <!-- member-column-start -->
        <div class="column_filter_view">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch1">
                        <label for="on-off-switch1">
                    <span class="aural">Show:</span>
                      <div class="day_weak">
                        <div class="inner_day_weak">
                          <span class="weak_name">
                            Monday
                          </span>
                          <span class="froms">
                            From
                          </span>
                          <div class="drop_down_options">
                            <select name="" id="" class="drop_downs">
                              <option value="">
                                12:00  AM
                              </option>
                            </select>
                            <span>to</span>
                            <select name="" id="" class="drop_downs">
                              <option value="">
                                11:58  PM
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column_filter_view">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch1">
                        <label for="on-off-switch1">
                  <span class="aural">Show:</span>
                    <div class="day_weak">
                      <div class="inner_day_weak">
                        <span class="weak_name">
                          Monday
                        </span>
                        <span class="froms">
                          From
                        </span>
                        <div class="drop_down_options">
                          <select name="" id="" class="drop_downs">
                            <option value="">
                              12:00  AM
                            </option>
                          </select>
                          <span>to</span>
                          <select name="" id="" class="drop_downs">
                            <option value="">
                              11:58  PM
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
              </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column_filter_view">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch1">
                        <label for="on-off-switch1">
                <span class="aural">Show:</span>
                  <div class="day_weak">
                    <div class="inner_day_weak">
                      <span class="weak_name">
                        Monday
                      </span>
                      <span class="froms">
                        From
                      </span>
                      <div class="drop_down_options">
                        <select name="" id="" class="drop_downs">
                          <option value="">
                            12:00  AM
                          </option>
                        </select>
                        <span>to</span>
                        <select name="" id="" class="drop_downs">
                          <option value="">
                            11:58  PM
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
            </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column_filter_view">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch1">
                        <label for="on-off-switch1">
              <span class="aural">Show:</span>
                <div class="day_weak">
                  <div class="inner_day_weak">
                    <span class="weak_name">
                      Monday
                    </span>
                    <span class="froms">
                      From
                    </span>
                    <div class="drop_down_options">
                      <select name="" id="" class="drop_downs">
                        <option value="">
                          12:00  AM
                        </option>
                      </select>
                      <span>to</span>
                      <select name="" id="" class="drop_downs">
                        <option value="">
                          11:58  PM
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
          </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- member-column-end -->

    </div>
    <!-- Minimum minutes -->
    <div class="minimum-minutes">
        <div class="minimum-minutes_inner">
            <div class="member_ship_header">
                <div class="member_ship_header_inner">
                    <div class="membs_header_content">
                        <h2>Minimum minutes before block start</h2>

                    </div>
                </div>
                <div class="filters_contents">
                    <p>
                        Select the number of minutes you need before the start of the time block. This way, you'll have enough time to release a block or get to the warehouse. If you don't need to use this feature, you can leave "off".
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- Minimum minutes end -->
    <!-- active-start-time -->
    <div class="active-start-time">
        <active-start-time></active-start-time>
    </div>
    <!-- active-start-time-end -->

</div>
