<div class="membreship-page">
    <!-- member-ship-header -->
    <div class="member_ship_header">
        <div class="member_ship_header_inner">
            <div class="membs_header_content">
                <h2>Warehouse + Price</h2>

            </div>

            <div class="member_ship_close_areas">
                <div class="inner_member_ship_closes">
                    <a href="">
                        <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <g clip-path="url(#clip0_2_711)">
                          <path d="M25.3333 8.54669L23.4533 6.66669L16 14.12L8.54666 6.66669L6.66666 8.54669L14.12 16L6.66666 23.4534L8.54666 25.3334L16 17.88L23.4533 25.3334L25.3333 23.4534L17.88 16L25.3333 8.54669Z" fill="white"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_2_711">
                            <rect width="32" height="32" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="filters_contents">
            <p>Select the Warehouses where you expect to<br>capture the blocks .
            </p>
            <p>NOW You can set the value for warehouse.
            </p>
            <p>NOW Filter by warehouse
            </p>
        </div>
    </div>
    <!-- member-ship-header-end -->
    <div class="column_filter_view">
        <warehouse-filter-view></warehouse-filter-view>
    </div>
    <!-- member-column-start -->
    <div class="member_column margin_column">
        <div class="filter_price_names_item">
            <warehouse-active-name-price></warehouse-active-name-price>
        </div>
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch1" tabindex="1" checked>
                        <label for="on-off-switch1">
                    <span class="aural">Show:</span>
                    <span class="txt">Miami (UFL6) - Fresh Online</span>
                    <div class="price_point">
                      <span class="point_label">
                        $
                      </span>
                      35
                    </div>
                </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch2" tabindex="1" checked>
                        <label for="on-off-switch2">
                  <span class="aural">Show:</span>
                  <span class="txt">Tamarac FL (VFL3) - Sub Same Day</span>
                  <div class="price_point">
                    <span class="point_label">
                      $
                    </span>
                    120
                  </div>
              </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch3" tabindex="0" checked>
                        <label for="on-off-switch3">
                <span class="aural">Show:</span>
                <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
                <div class="price_point">
                  <span class="point_label">
                    $
                  </span>

                </div>
            </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch4" tabindex="0">
                        <label for="on-off-switch4">
              <span class="aural">Show:</span>
              <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
              <div class="price_point">
                <span class="point_label">
                  $
                </span>

              </div>
          </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch5" tabindex="0">
                        <label for="on-off-switch5">
              <span class="aural">Show:</span>
              <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
              <div class="price_point">
                <span class="point_label">
                  $
                </span>

              </div>
          </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch6" tabindex="0">
                        <label for="on-off-switch6">
            <span class="aural">Show:</span>
            <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
            <div class="price_point">
              <span class="point_label">
                $
              </span>

            </div>
        </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch7" tabindex="0">
                        <label for="on-off-switch7">
          <span class="aural">Show:</span>
          <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
          <div class="price_point">
            <span class="point_label">
              $
            </span>

          </div>
      </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch8" tabindex="0">
                        <label for="on-off-switch8">
        <span class="aural">Show:</span>
        <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
        <div class="price_point">
          <span class="point_label">
            $
          </span>

        </div>
    </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch9" tabindex="0">
                        <label for="on-off-switch9">
      <span class="aural">Show:</span>
      <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
      <div class="price_point">
        <span class="point_label">
          $
        </span>

      </div>
  </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch10" tabindex="0">
                        <label for="on-off-switch10">
      <span class="aural">Show:</span>
      <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
      <div class="price_point">
        <span class="point_label">
          $
        </span>

      </div>
  </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch11" tabindex="0">
                        <label for="on-off-switch11">
      <span class="aural">Show:</span>
      <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
      <div class="price_point">
        <span class="point_label">
          $
        </span>

      </div>
  </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch12" tabindex="0">
                        <label for="on-off-switch12">
      <span class="aural">Show:</span>
      <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
      <div class="price_point">
        <span class="point_label">
          $
        </span>

      </div>
  </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- off -->
        <div class="filter_price_names_item">
            <div class="warehouse-active-name-price">
                <div class="inner_warehouse-active-name-price">
                    <div class="toggle-group">
                        <input type="checkbox" name="on-off-switch" id="on-off-switch13" tabindex="0">
                        <label for="on-off-switch13">
      <span class="aural">Show:</span>
      <span class="txt">1701 N Federal Hwy (PZBC) - Retail Delivery</span>
      <div class="price_point">
        <span class="point_label">
          $
        </span>

      </div>
  </label>
                        <div class="onoffswitch pull-right" aria-hidden="true">
                            <div class="onoffswitch-label">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- member-column-end -->


</div>
