<div class="plan-one">
    <div class="inner_plans">
        <div class="plan_header">
            <h4>iflex app</h4>
            <span class="badge yellow">Pro +</span>
        </div>
        <div class="sub_header">
            <h2>$ 178.50</h2>
            <h4>$5.95 per day</h4>
        </div>
        <div class="headings_subs">
            <h4>30 days of service with all funtions unlimited</h4>
        </div>
        <div class="plan_buttons">
            <button class="custom_btns">Subscribe</button>
        </div>
    </div>
</div>