<div class="home_block_wrapers">
    <div class="inner_home_block_wrapers">
        <!-- block-start -->
        <div class="home_block_item">
            <div class="home_block_item_main">
                <div class="blocks_sect">
                    <h2>Tamarac FL (VFL3) - Sub Same-Day</h2>
                    <h4>Wed, Jan 3, 2024 at 5:15 AM - 10:15 AM</h4>
                </div>
                <div class="block_prices">
                    <h2>$135</h2>
                </div>
            </div>
            <div class="delete">
                <delete-funtion></delete-funtion>
            </div>
        </div>
        <!-- block-end -->
        <!-- block-start -->
        <div class="home_block_item">
            <div class="home_block_item_main">
                <div class="blocks_sect">
                    <h2>Hialeah FL (VFL2) - Sub Same-Day</h2>
                    <h4>Fri, Jan 5, 2024 at 4:00 AM - 8:00 AM</h4>
                </div>
                <div class="block_prices">
                    <h2>$107</h2>
                </div>
            </div>
            <div class="delete"></div>
        </div>
        <!-- block-end -->
        <!-- block-start -->
        <div class="home_block_item">
            <div class="home_block_item_main">
                <div class="blocks_sect">
                    <h2>Tamarac FL (VFL3) - Sub Same-Day</h2>
                    <h4>Fri, Jan 5, 2024 at 2:00 PM - 5:00 PM</h4>
                </div>
                <div class="block_prices">
                    <h2>$66</h2>
                </div>
            </div>
            <div class="delete"></div>
        </div>
        <!-- block-end -->
        <!-- block-start -->
        <div class="home_block_item">
            <div class="home_block_item_main">
                <div class="blocks_sect">
                    <h2>Miami (UFL6) - Fresh Online</h2>
                    <h4>Sat, Jan 6, 2024 at 11:30 AM - 1:30 PM</h4>
                </div>
                <div class="block_prices">
                    <h2>$36</h2>
                </div>
            </div>
            <div class="delete"></div>
        </div>
        <!-- block-end -->
    </div>
</div>