.blocks_sect>h2 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 8px;
}

.blocks_sect>h4 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.block_prices>h2 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}

.home_block_item_main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.home_block_item_main {
    background: #262626;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
    padding-left: 34px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.home_block_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete {
    margin-left: 18px;
}

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1002px) and (min-width: 665px) {}

@media only screen and (max-width: 664px) and (min-width: 300px) {
    .block_prices>h2 {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 24px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .delete {
        margin-left: 0;
    }
    .side_ber {
        background: #000000;
        padding: 28px 10px !important;
        height: 100% !important;
    }
}


/* js_cont_justify */

@media only screen and (max-width: 1398px) and (min-width: 993px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 826px) and (min-width: 300px) {}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {
    .blocks_sect>h2 {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 12px !important;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
    }
    .blocks_sect>h4 {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 10px !important;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .home_block_item_main {
        background: #262626;
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 12px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1480px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) and (min-width: 300px) {}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
