<div class="warehouse-active-name-price">
    <div class="inner_warehouse-active-name-price">
        <div class="toggle-group">
            <input type="checkbox" name="on-off-switch" id="on-off-switch">
            <label for="on-off-switch">
          <span class="aural">Show:</span>
            <div class="day_weak">
              <div class="inner_day_weak">
                <span class="weak_name">
                  Monday
                </span>
                <span class="froms">
                  From
                </span>
                <div class="drop_down_options">
                  <select name="" id="" class="drop_downs">
                    <option value="">
                      12:00  AM
                    </option>
                  </select>
                  <span>to</span>
                  <select name="" id="" class="drop_downs">
                    <option value="">
                      11:58  PM
                    </option>
                  </select>
                </div>
              </div>
            </div>
      </label>
            <div class="onoffswitch pull-right" aria-hidden="true">
                <div class="onoffswitch-label">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </div>
            </div>
        </div>
    </div>
</div>
