.history_card {
    background: #262626;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
    padding: 17px 14px;
    border-radius: 12px;
    width: 92%;
    margin: auto;
    text-align: right;
}

.inner_history_card>h4 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
}

.inner_history_card>h2 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.inner_history_wrapers {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
