<div class="history_wrapers">
    <div class="inner_history_wrapers">
        <div class="history_card">
            <div class="inner_history_card">
                <h4>Total</h4>
                <h2>$7,009</h2>
            </div>
        </div>
        <!-- next -->
        <div class="history_card">
            <div class="inner_history_card">
                <h4>Blocks</h4>
                <h2>27</h2>
            </div>
        </div>
        <!-- next -->
        <div class="history_card">
            <div class="inner_history_card">
                <h4>Days</h4>
                <h2>99</h2>
            </div>
        </div>
    </div>
</div>
