<div class="active-start-time-sections">
    <div class="active-start-time-sections-inner">
        <div class="warehouse-active-name-price">
            <div class="inner_warehouse-active-name-price">
                <div class="toggle-group">
                    <input type="checkbox" name="on-off-switch" id="on-off-switch1">
                    <label for="on-off-switch1">
              <span class="aural">Show:</span>
              <span class="txt-ml"></span>



          </label>

                    <div class="onoffswitch pull-right" aria-hidden="true">
                        <div class="onoffswitch-label">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </div>
                    </div>
                </div>
                <div class="switch_contents">
                    <p>
                        Capture reserved according to my filters
                    </p>
                    <p class="mb-0s">
                        This option will only capture the reserved blocks that are assigned to you only if they meet your warehouse and price setteings.<br>(CAN SIGNIFICANTLY REDUCE YOUR RESERVED BLOCKS CAPTURE)
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
